@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:display=swap');

.partnersNamePlate {
  font-family: 'Hind Madurai', sans-serif;
  font-size: 32px;
  letter-spacing: 0.1em; /* Adjust as needed */
}
