.Partners-section {
    width: 98%;
    margin: auto !important;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    border-left: 5px solid orange;
    border-right: 5px solid green;
    box-shadow: 0px 0px 8px 0px rgba(242, 107, 110, 0.75);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(242, 107, 110, 0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(242, 107, 110, 0.75);
}
