.brd {
 border: 1px solid red;
}
.violet-btn {
 background-color: #8761aa;
}
.farm-btn {
  background-color: #a4cf3e;
}

.wheat-btn {
 background-color: #dd8444;
}

.merun-btn {
 background-color: rgb(156, 57, 39);
}