@media only screen and (max-width: 768px) {
    .side-navbar {
        position: absolute !important;
    }

    .farm-content-wrap {
        position: relative !important;
        left: 0px !important;
        margin-left: 57px;
    }
}
