/* .testimonial-swiper .swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
} */

.testimonialBox {
  max-height: 200px;
  background-color: blanchedalmond;
  padding: 10px;
  border-radius: 10px 10px;
  /* box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); */
}

.testimonialbox .quote {
  position: absolute;
  top: 20px;
  right: 30px;
  opacity: 0.2;
}
